body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#main {
    background-color: white;
    width: min(100vw, 90vh);
    height: min(100vw, 90vh);
}

h1 {
    margin: 0;
    padding: 0;
    translate: 0 -100%;
}

.hide {
    overflow: hidden;
}